<div>
  <h1>Hi there!</h1>
  <span>
    Brian Pham
  </span>
  <ul>
    <% ['apples', 'oranges', 'bananas'].each do |fruit| %>
        <li>I like to eat <%= fruit %></li>
    <% end %>

    <%= Time.now %>
  </ul>
</div>